<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>BEST SCHOOL</title>
</head>
<body>
    <div id="myqrModal" class="modal">

        <!-- Modal1 content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="page-content">
                  <div class="form-content">
                        <form class="form1">
                            <input type="hidden" name="_id">
                            <h3 class="header">Add Student Details</h3>
                            <p>
                                <input type="text" name="name" id="name" placeholder="Full name" class="modal-body-input">
                            </p>
                            <p>
                                <input type="text" name="studID" id="studID" placeholder="Student ID" class="modal-body-input">
                            </p>
                            <p>
                                <input type="text" name="email" id="email" placeholder="Email" class="modal-body-input">
                            </p>
                            <p>
                                <input type="text" name="phone" id="phone" placeholder="Phone number" class="modal-body-input">
                            </p>
                            <p>
                                <input type="submit" class="modal-submit" id="add-data" value="Save Details">
                            </p>
                        </form>
                  </div>
              </div>
        </div>
      
    </div>


    <div class="container">
        <h2 class="header">BEST SCHOOL</h2>
        <div class="search-container">
            <form class="form2" action="/details" method="post">
                <input type="text" name="studId" id="studId" class="input-field" placeholder="Enter studentID">
                <input class="submit-btn" value="Search" type="submit">
            </form>
        </div>
        <div class="info-container">
            <h3 class="header">Student Details</h3>
            <button class="add-btn" id="modal-btn">Add Student</button>
            <div class="details">
            </div>
        </div>
    </div>

    <script src="jquery-3.6.0.js"></script>
    <script src="script.js"></script>
</body>
</html>